@charset "utf-8";
	* {
	margin:0;
	padding:0;
}
html{-overflow-y:scroll}
body{
color:#808080;
background:#fff;
font-size:12px;
line-height:1.666
}
body,input,textarea
{
font-family:verdana
}
header,footer,section,aside,article,nav,hgroup,figure,figcaption,body,h1,h2,h3,h4,h5,h6,ul,ol,li,form,p,dl,dt,dd,blockquote,legend,table,th,td,fieldset,menu,pre{margin:0;padding:0}
h2{font-size:100%;}
div {
	margin:0 auto;
}
:focus {
	outline:0;
}
img {
	border:0;
}
ul,li {
	list-style:none;
}
/*div,ul,li,dl,dt,dd,table,td,input {
	font-size:12px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-size:12px;
} */
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#da3553;
}
a:active {
	star:expression(this.onFocus=this.blur());
}
.clear {
	width:100%;
	height:0;
	clear:both;
	overflow:hidden;
}
.clear1 {
	width:100%;
	height:15px;
	clear:both;
	overflow:hidden;
}
i,em {
	font-style:normal;
}
.Fb {
	font-weight:bold;
}
.fl,.fl-img {
	float:left;
}
.fr {
	float:right;
}
.mat10 {
	margin-top:10px;
}
.mab10 {
	margin-bottom:10px;
}
.blank10 {
	height:10px;
	font-size:0;
	overflow:hidden;
	line-height:0;
	background:none;
}
.hidden {
	display:none;
}
.show {
	display:block;
}
.Current_nav {
	width:1200px;
	font-size:12px;
	color:#bbb;
	font-family:ËÎÌå;
	height:25px;
	margin:0 auto;
}
.Current_nav span {
	font-family:ËÎÌå;
}
.Current_nav a {
	color:#bbb;
}
.Current_nav a:hover {
	color:#da3553;
}
.red {
	color:#f00;
}
a.red:hover {
	text-decoration:underline;
	color:#f00;
}
.orange {
	color:#da3553;
}
.blue {
	color:#2af;
}
a.blue:hover {
	text-decoration:underline;
	color:#2af;
}
.green {
	color:#3b0;
}
.red {
	color:#F00;
}
.gray {
	color:#333;
}
.gray01 {
	color:#666;
}
.gray02 {
	color:#999;
}
.gray03 {
	color:#bbb;
}
.rmb {
	background:url(../images/arrow_button.png) -178px -57px no-repeat;
	padding-left:8px;
}
.orangebut,.bluebut,.graybut,.cancelBtn,.greenbut {
	display:inline-block;
	font-size:12px;
	border-radius:2px;
	text-align:center;
	padding:0 19px;
	*overflow:visible;
	cursor:pointer;
}
input.orangebut,input.bluebut,input.graybut,input.cancelBtn {
	padding:4px 19px;
	padding:6px 19px 2px\9;
	*padding:5px 19px 1px;
	_padding:5px 19px 1px;
}
a.orangebut,a.bluebut,a.graybut,a.cancelBtn,a.greenbut {
	height:23px;
	line-height:23px;
	line-height:26px\9;
	_line-height:22px;
}
input[type=button]::-moz-focus-inner {
	border:0;
}
.greenbut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.greenbut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
}
.orangebut {
	background:#da3553;
	border:1px solid #f65802;
	color:#fff;
}
.orangebut:hover {
	background:#f65802;
	color:#fff;
}
.bluebut {
	background:#49b8ff;
	border:1px solid #1ba3fa;
	color:#fff;
}
.bluebut:hover {
	background:#1ba3fa;
	color:#fff;
	color:#fff;
}
.graybut {
	background:#f3f3f3;
	border:#cfcfcf 1px solid;
	color:#999;
}
.graybut:hover {
	background:#bbb;
	color:#fffeee;
}
.cancelBtn {
	background:#f4f4f4;
	border:#ddd 1px solid;
	color:#747474;
}
.cancelBtn:hover {
	background:#f4f4f4;
	border:#bbb 1px solid;
	color:#747474;
}
.tips-con i {
	background:url(../images/PublicIcon.png);
}
.tips-con {
	text-align:center;
	color:#666;
	margin:30px 0;
}
.tips-con i {
	width:17px;
	height:17px;
	background-position:0 -75px;
	display:inline-block;
	margin-right:4px;
	vertical-align:-4px;
	vertical-align:-2px\9;
	_vertical-align:-2px;
}
.msgNoMore {
	font-size:14px;
	padding:15px 0 0;
	text-align:center;
	color:#bbb;
}
.quick_cart s,.quick_service s,.quick_Collection s,.quick_Return s,.Close,.Roll_mycart li a.Close:hover,.quick_cart .Current s,.quick_service .Current s,.quick_Collection .Current s,.quick_Return .Current s {
	background:url(../images/quickBack.png) no-repeat;
}
.quickBack {
	position:fixed;
	_position:absolute;
}
.quickBack {
	position:fixed;
	bottom:40px;
	right:10px;
	width:60px;
	z-index:11;
}
* html .quickBack {
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-40));
	_bottom:auto;
	_position:absolute;
}
.quickBack .quick_But {
	width:60px;
}
.quickBack .quick_But dd a.quick_cartA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_serviceA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_CollectionA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_ReturnA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	z-index:11;
}
.quickBack .quick_But dd a s {
	cursor:pointer;
	height:58px;
	left:0;
	position:absolute;
	top:0;
	width:58px;
}
.quickBack .quick_But dd a b {
	width:58px;
	text-align:center;
	font-weight:normal;
	color:#fff;
	position:absolute;
	top:32px;
	left:0;
	display:inline-block;
	font-family:Î¢ÈíÑÅºÚ;
	display:none;
	cursor:pointer;
	z-index:10;
}
.quickBack .quick_But dd a.Current b {
	display:block;
}
.weiboindex{margin-top:7px; padding-right:10px;float:left;}
.quick_cart em {
	width:16px;
	padding-left:1px;
	height:17px;
	line-height:16px;
	font-size:11px;
	font-family:Arial;
	text-align:center;
	color:#fff;
	position:absolute;
	top:7px;
	right:5px;
	background:url(../images/quickBack_CartDig.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/quickBack_CartDig.png");
}
.quick_cart s {
	background-position:0 0;
}
.quick_service s {
	background-position:0 -59px;
}
.quick_Collection s {
	background-position:0 -118px;
}
.quick_Return s {
	background-position:0 -177px;
}
.quick_cart .Current s {
	background-position:-58px 0;
}
.quick_service .Current s {
	background-position:-58px -59px;
}
.quick_Collection .Current s {
	background-position:-58px -118px;
}
.quick_Return .Current s {
	background-position:-58px -177px;
}
.Roll_mycart {
	width:290px;
	height:234px;
	overflow:hidden;
	border:1px solid #2AF;
	position:absolute;
	right:59px;
	top:1px;
	background:#fff;
	z-index:18;
}
.Roll_mycart ul {
	width:282px;
	padding-left:8px;
	border-bottom:1px solid #EFEFEF;
	height:171px;
	float:left;
}
.Roll_mycart li {
	width:60px;
	float:left;
	text-align:center;
	position:relative;
	margin:8px 10px 0 0;
	_display:inline;
	line-height:14px;
}
.Roll_mycart li a {
	height:60px;
	display:block;
}
.Roll_mycart li a.Close {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-color:#EEE;
	background-position:-14px -238px;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
	border-bottom:none;
}
.Roll_mycart li a.Close:hover {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -238px;
	background-color:#da3553;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
}
.Roll_mycart li img {
	border:1px solid #EEE;
	width:58px;
	height:58px;
}
.Roll_mycart li span {
	font-family:Arial;
	font-weight:bold;
}
.Roll_mycart li.Roll_CartMore a {
	width:60px;
	height:60px;
	background:#F0F0F0;
	display:inline-block;
	line-height:60px;
	font-family:ËÎÌå;
	color:#999;
}
.Roll_mycart li.Roll_CartMore a:hover {
	background:#e8e8e8;
	color:#da3553;
}
.Roll_mycart li.Roll_CartMore a i {
	font-weight:bold;
}
.Roll_mycart p {
	text-align:right;
	color:#999;
	width:260px;
	height:22px;
	overflow:hidden;
	float:right;
	padding-top:5px;
	padding-right:8px;
}
.Roll_mycart p span {
	color:#da3553;
}
.Roll_mycart h3 {
	height:26px;
	padding-right:8px;
	padding-bottom:4px;
}
.Roll_mycart h3 input {
	width:112px;
	height:26px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:Î¢ÈíÑÅºÚ;
	font-size:14px;
	background:#da3553;
	border-radius:3px;
	float:right;
	padding:2px 0 5px;
	_padding:3px 0 2px;
}
.Roll_mycart h3 input[type=button]::-moz-focus-inner {
	border:0;
}
.collect a,.h_tel,.h_1yyg b,.h_1yyg_eject i,.head_search .search_submit,.mini_mycart a.cart s,.tipsCancel,.login_info .h_news b,.login_info .h_news i,.Ht-qqicon,.h_Mobileicon,.DetailsT_Cart s,.login_info .h_inv a,.login_info .h_inv a:hover {
	background:url(../images/headbg11.png) no-repeat;
}
.rmbred,.rmbgray,.rmbwhite {
	background:url(../images/PublicIcon.png) no-repeat;
}
.rmbred {
	background-position:0 -49px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbgray {
	background-position:0 -3px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbwhite {
	background-position:0 -25px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.header:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.header {
	background:#fff;
	zoom:1;
	position:relative;
	z-index:21;
}
.head_top,.head_mid_bg,.nav_center {
	margin:auto;
	font-size:12px;
}
.site_top {
	width:100%;
	height:32px;
	border-bottom:1px solid #E6E6E6;
	background-color:#F7F7F7;
	box-shadow:0 1px 0 #F7F7F7;
}
.site_top .head_top {
	width:1200px;
	height:25px;
}
.head_top .collect {
	float:left;
	padding-top:4px;
	margin-right:10px;
}
.head_top .collect a {
	background-position:0 -13px;
	padding:3px 0 0 15px;
	background-repeat:no-repeat;
	float:left;
	color:#666;
}
.head_top .collect a:hover {
	color:#da3553;
}
.head_top .Ht-qqicon {
	float:left;
	margin-top:7px;
	color:#666;
	background:url(../images/topqun.gif) 0 4px no-repeat;
	padding-right:15px;
}
.login_info {
	display:none;
	float:right;
}
.login_info li {
	float:left;
	display:inline;
	margin-top:6px;
	margin-top:5px\0;
}
.gray_info a,.gray_info a:visited,.Ht-qqicon a,.Ht-qqicon a:visited {
	color:#666;
	padding-left:15px;
}
.gray_info a:hover,.Ht-qqicon a:hover {
	color:#da3553;
}
.login_info .h_1yyg {
	margin-top:0;
	height:25px;
	position:relative;
	padding:6px 18px 0 7px;
	text-align:center;
	z-index:11;
}
.login_info .h_1yyg b {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -74px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:5px;
}
.login_info .h_1yyg .h_1yyg_eject {
	position:absolute;
	top:0;
	left:-2px;
	border:1px solid #DFDFDF;
	border-top:none;
	text-align:center;
	box-shadow:0 2px 2px #DFDFDF;
	width:93px;
	background:#fff;
}
.login_info .h_1yyg .h_1yyg_eject dt {
	text-align:left;
	height:32px;
	position:relative;
}
.login_info .h_1yyg .h_1yyg_eject dt a {
	padding:6px 15px 0 8px;
	height:24px;
	display:inline-block;
}
.login_info .h_1yyg_eject i {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -64px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:5px;
}
.login_info .h_1yyg .h_1yyg_eject dd {
	text-align:left;
	border-top:1px solid #E9E9E9;
}
.login_info .h_1yyg .h_1yyg_eject dd a {
	height:30px;
	display:block;
	padding-left:12px;
	line-height:30px;
}
.login_info .h_1yyg .h_1yyg_eject dd a:hover {
	background:#F5F5F5;
}
.login_info .h_news {
	margin-top:0;
	height:25px;
	position:relative;
	padding:6px 18px 0 7px;
	position:relative;
	text-align:center;
	z-index:11;
}
.login_info .h_news b {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -74px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:7px;
}
.login_info .h_news .h_news_down {
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	z-index:11;
}
.login_info .h_news .h_news_downT {
	position:relative;
	height:32px;
	border:1px solid #DFDFDF;
	border-bottom:none;
	border-top:none;
	text-align:center;
	box-shadow:0 2px 2px #DFDFDF;
	width:48px;
	float:left;
	z-index:9;
	background:#fff;
}
.login_info .h_news .h_news_downT a {
	padding:6px 12px 0 0;
	height:24px;
	display:inline-block;
}
.login_info .h_news .h_news_downT i {
	width:13px;
	height:5px;
	display:inline-block;
	background-position:5px -64px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:7px;
}
.login_info .h_news .h_news_downC {
	z-index:11;
	position:relative;
	border:1px solid #DFDFDF;
	border-bottom:none;
	border-top:none;
	background:#fff;
	float:left;
	margin-left:0;
	left:0;
	top:1px;
}
.login_info .h_news .h_news_downC a {
	width:80px;
	text-align:left;
	height:30px;
	line-height:30px;
	display:block;
	padding:0 24px 0 11px;
	padding-left:12px;
	line-height:30px;
	border-bottom:1px solid #E9E9E9;
}
.login_info .h_news .h_news_downC a:hover {
	background:#F5F5F5;
}
.login_info .h_wel {
	color:#666;
	padding:0 7px;
}
.login_info .h_login i {
	color:#666;
	padding-right:8px;
}
.login_info .h_wel img {
	width:15px;
	height:15px;
	vertical-align:middle;
	margin-right:5px;
}
.login_info .h_login span {
	padding:0 7px;
	color:#eee;
}
.login_info .h_login {
	padding:0 7px;
}
.login_info .h_help {
	padding:0 7px;
}
.login_info .h_help {
	padding:0 7px;
	margin-top:8px\9;
}
.login_info .h_Mobile {
	padding:0 7px;
	margin-top:8px\9;
	position:relative;
}
.login_info .h_Mobile .h_Mobileicon {
	width:19px;
	height:9px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -212px;
	position:absolute;
	top:-4px;
	top:-5px\9;
	right:-2px;
}
.login_info .h_inv {
	padding:0 7px;
}
.login_info .h_inv {
	padding:0 7px;
	margin-top:8px\9;
}
.login_info .h_inv a,.login_info .h_inv a:visited {
	background-position:0 -141px;
	padding-left:17px;
	color:#da3553;
}
.login_info .h_inv a:hover {
	background-position:0 -159px;
	color:#da3553;
}
.login_info .h_1yyg a,.login_info .h_1yyg a:visited,.login_info .h_news a,.login_info .h_news a:visited,.login_info .h_inv a,.login_info .h_inv a:visited,.login_info .h_help a,.h_help .h_1yyg a:visited,.login_info .h_Mobile a,.login_info .h_Mobile a:visited {
	color:#666;
}
.login_info .h_1yyg a:hover,.login_info .h_news a:hover,.login_info .h_inv a:hover,.login_info .h_help a:hover,.login_info .h_Mobile a:hover {
	color:#da3553;
}
.login_info .h_tel {
	height:15px;
	overflow:hidden;
	background-position:0 0;
	margin-top:9px;
	_margin-top:10px;
	margin-left:5px;
}
.login_info .h_tel b {
	width:138px;
	display:block;
	color:#da3553;
	line-height:20px;
	margin-top:-3px;
	font-family:Arial;
	text-indent:15px;
	font-size:18px;
	font-weight:normal;
}
.h_news_tips {
	border:1px solid #BBB;
	width:170px;
	box-shadow:0 0 3px #DFDFDF;
	position:absolute;
	text-align:right;
	padding:5px 5px 2px 10px;
	background:#F7F7F7;
	border-radius:2px;
	z-index:11;
}
.h_news_tips .tipsCancel {
	position:absolute;
	right:3px;
	top:3px;
	width:7px;
	height:7px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -124px;
}
.h_news_tips p {
	text-align:left;
	color:#666;
	height:22px;
	line-height:22px;
	padding-right:15px;
}
.h_news_tips p a {
	color:#2AF;
	text-align:right;
	float:right;
}
.h_news_tips p a:hover {
	text-decoration:underline;
}
.head_mid {
	height:81px;
}
.head_mid .head_mid_bg:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.head_mid .head_mid_bg {
	width:1200px;
	zoom:1;
}
.head_mid .head_mid_bg .logo_1yyg {
	float:left;
	margin-top:10px;
	margin-right:10px;
	display:inline;
}
.head_mid .head_mid_bg .logo_1yyg a {
	display:block;
	/*width:160px;*/
	height:65px;
	overflow:hidden;
}
.head_mid .newbie_guide{
 float:left;
 height:74px;
 overflow:hidden;
 margin-top:3px;
}
/*.head_mid .newbie_guide {
	float:left;
	margin-top:12px;
	height:60px;
	overflow:hidden;
} */
.head_mid .head_number {
	float:right;
	height:25px;
	line-height:23px;
	_line-height:25px;
	margin:18px 0 0 27px;
	display:inline;
}
.head_mid .head_number a {
	display:inline-block;
	color:#666;
	background:#F5F5F5;
	border:1px solid #e5e5e5;
	font-size:14px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå;
	padding:1px 10px 2px 10px;
	color:#666;
}
.head_mid .head_number a:hover {
	color:#666;
	background:#ebebeb;
	border:1px solid #e0e0e0;
}
.head_mid .head_number span {
	font-size:20px;
	font-family:arial;
	vertical-align:-2px;
	color:#2AF;
	padding:0 5px;
}
.head_mid .head_search {
	float:right;
	margin-top:7px;
}
.head_search .init {
	width:276px;
	height:32px;
	text-indent:5px;
	line-height:32px;
	background-repeat:repeat-x;
	border:1px solid #CFCFCF;
	color:#CCC;
	border-right:none;
	float:left;
	font-family:Arial,"ËÎÌå";
}
.head_search .text {
	text-align:left;
	color:#666;
	font-weight:normal;
}
.head_search .search_submit {
	width:46px;
	height:34px;
	background-position:14px -89px;
	background-color:#2AF;
	border:none;
	text-indent:-999em;
	vertical-align:top;
	cursor:pointer;
	float:left;
}
.head_search .keySearch {
	padding-top:1px;
	clear:both;
}
.head_search .keySearch a {
	margin-right:10px;
	color:#999;
}
.head_search .keySearch a:hover {
	color:#da3553;
}
.head_nav ul.nav_list li.home-back {
	width:86px;
}
.head_nav ul.nav_list li.sort-all {
	width:108px;
}
.head_nav ul.nav_list li.sort-all-shouye {
	width:84px;
}
.head_nav ul.nav_list li.sort-all-shouye a{
	width:82px;
}
.head_nav ul.nav_list li.share {
	width:116px;
}
.head_nav ul.nav_list li.nav_Cloud {
	width:101px;
}
.head_nav ul.nav_list li.new-lottery {
	width:116px;
}
.head_nav ul.nav_list li.cooperation {
	width:86px;
}
.head_nav ul.nav_list li.what-1yyg {
	width:116px;
}
body.index .head_nav ul.nav_list li.home-back a.home,body.sort .head_nav ul.nav_list li.sort-all a.sort,body.share .head_nav ul.nav_list li.share a,body.nav_Cloud .head_nav ul.nav_list li.nav_Cloud a,body.lottery .head_nav ul.nav_list li.new-lottery a,body.cooperation .head_nav ul.nav_list li.cooperation a,body.helper .head_nav ul.nav_list li.what-1yyg a {
	background:#F40;
	border:1px solid #E53D00;
	box-shadow:inset 0 0 15px #E53D00;
	height:33px;
	overflow:hidden;
	font-weight:bold;
	line-height:32px;
	_line-height:34px;
}
body.sort .head_nav .nav_center ul.nav_list li a.nav_ico {
	background:#ff4e00;
}
.nav_list li a.nav_ico {
	background:#ff4e00;
}
.head_nav {
	height:38px;
	border-bottom:#db3652 3px solid;
	box-shadow:0 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.f-clear:after
{
 display:block;
 height:0px;
 visibility:hidden;
 clear:both;
 font-size:0px;
 overflow:hidden;
 content:".";
}
.head_nav .nav_center {
	width:1200px;
	position:relative;
	padding:0px 10px 0px 10px;
	margin:0px auto;
}
.m-joinNum-wrap{background-image:url('../images/mix-icon.png');_background-image:url('../images/mix-icon_ie6.png');background-repeat:no-repeat;}
.m-catlog{width:240px;position:absolute;left:10px;top:0;font-size:15px;font-family:"Microsoft Yahei";}
.m-catlog a{display:block;padding-left:30px;width:210px;height:36px;color:#fff;line-height:36px;}
.m-catlog a:hover{background-color:#C61935;text-decoration:none;}
.m-catlog-hd{height:37px;background:#db3652;border-bottom:1px solid #ca1b38;position:relative;}
.m-catlog-hd h2{font-weight:bold;line-height:37px;}
.m-catlog-hd .ico-arrow{position:absolute;right:30px;top:15px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
.m-catlog-wrap{overflow:hidden;display:none;}
.m-catlog-bd{padding-bottom:8px;background:#db3652;*zoom:1;}
.m-catlog-list li{line-height:34px;border-bottom:1px solid #ca1b38;border-top:1px solid #fb3657;}
.m-catlog-list li.last{border-bottom:0;}.m-catlog-ft{height:4px;background-position:0 0;background-repeat:repeat-x;overflow:hidden;}.m-menu{margin-left:240px;}.m-menu-list li{float:left;padding:5px 0;position:relative;}
.m-menu-list a{display:block;margin:0 5px 0 12px;width:76px;border-right:1px solid #aeaeae;height:20px;line-height:20px;text-align:center;color:#3c3c3c;font-size:16px;font-weight:bold;font-family:"Microsoft Yahei";}
.m-menu-list a:hover{background-color:#f5f5f5;text-decoration:none;}
.m-menu-list var{float:left;font-size:16px;color:#aeaeae;}
.m-menu-list a:hover,.m-menu-list .selected a{color:#db3652;}
.m-menu-list .ico-hot{position:absolute;top:-4px;left:15px;}
.m-joinNum{float:right;color:#3c3c3c;font-size:14px;font-family:"Microsoft Yahei";}
.m-catlog-ft{height:4px;background-position:0 0;background-repeat:repeat-x;overflow:hidden;}
.w-quickBuyList-item{float:left;margin:0 8px 10px 0;width:290px;height:448px;border:1px solid #ddd;overflow:hidden;position:relative;}
.w-quickBuyList .row-last{margin-right:0;}
.w-dir{padding-top:10px;padding-bottom:10px;line-height:30px;}
.w-dir a{color:#808080;}




/*.m-catlog-ft,.m-joinNum-wrap{background-image:url('../images/mix-icon.png');_background-image:url('../images/mix-icon_ie6.png');background-repeat:repeat-x;}*/
.m-catlog-ft{background-image:url('../images/mix-icon.png');_background-image:url('../images/mix-icon_ie6.png');background-repeat:repeat-x;}
.m-joinNum span { display: inline-block; font-size: 14px; color: #545454; }
.m-joinNum span.qian {padding-right:5px;  }
.m-joinNum span.tnum{background-image:url('../images/mix-icon.png');_background-image:url('../images/mix-icon_ie6.png');background-repeat:no-repeat;}
.m-joinNum span.tnum {margin:0 3px;width:24px;height:30px;overflow:hidden;font-size:28px;line-height:30px;font-family:"Arial";background-position:0 -30px;font-weight:bold;text-align:center;color:#db3652; }
.ico{display:inline-block;vertical-align:middle;background:url('../images/mix-icon.png') no-repeat;_background-image:url('../images/mix-icon_ie6.png');overflow:hidden;*display:inline;*zoom:1;}
.ico-arrow-large{width:14px;height:23px;}
.ico-arrow-large-l{background-position:-100px -60px;}
.ico-arrow-large-r{background-position:-120px -60px;}
.w-silde{overflow:hidden;position:relative;}
.w-silde-wrap-list{position:relative;left:0;overflow:hidden;_zoom:1;}
.w-silde-wrap-list li{float:left;}
.w-goods-newReveal{position:relative;padding:5px 0 0 20px;width:344px;height:169px;color:#3c3c3c;}
.w-goods-newReveal .w-goods-title{width:230px;height:45px;overflow:hidden;font-size:14px;line-height:20px;}
.w-goods-newReveal .w-goods-title a{color:#3c3c3c;line-height:22px;}
.w-goods-newReveal .w-goods-pic{float:right;margin:5px 10px 0 0;}
.w-goods-newReveal .w-goods-price{margin:2px 0 10px;color:#808080;}
.w-goods-newReveal .w-goods-user{margin-bottom:10px;width:170px;}
.w-goods-newReveal .w-goods-countdown{font-size:14px;color:#464239;}
.w-goods-newReveal .w-countdown{margin-top:6px;line-height:30px;}
.w-goods-newReveal .w-countdown-nums{font-size:26px;}
.w-goods-newReveal .w-countdown-nums b{margin-right:5px;display:inline-block;width:44px;height:30px;color:#fff;background-color:#464239;text-align:center;border-radius:4px;}
.w-goods-ing{width:200px;height:323px;overflow:hidden;}
.w-goods-ing .w-goods-pic{margin-bottom:8px;}
.w-goods-ing .w-goods-pic img{margin-left:20px;}
.w-goods-ing .w-goods-title{width:100%;}
.w-goods-ing .w-goods-title a{color:#3c3c3c;font-size:12px;line-height:26px;}
.w-goods-ing .w-goods-price{margin-bottom:10px;}
.w-goods-l .w-progressBar-wrap{background-position:0 -16px;}
.w-goods-l .w-progressBar-bar{background-position:0 -24px;}
.w-goods-newReveal .

.w-countdown-ing{font-size:12px;font-weight:bold;line-height:12px;}
.w-goods-newReveal .w-goods-record{line-height:20px;}
.w-goods-newReveal .w-goods-owner{width:180px;}
.w-countdown-nums{position:relative;vertical-align:middle;}
.w-countdown-nums b{color:#db3652;font-size:22px;font-weight:normal;}
.f-txtabb{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;*zoom:1;}
.txt-red{color:#db3652;}
.ico-label{width:47px;height:47px;position:absolute;top:0;left:0;}
.ico-label-newReveal{width:64px;height:64px;background-position:0 -210px;}
.w-goods-newReveal .ico-label{right:10px;left:auto;}
.ico-label-revealing{width:64px;height:64px;background-position:-70px -210px;}
.w-silde-controller-btn{display:none;}
.w-silde-controller-btn a{display:block;width:40px;height:40px;position:absolute;top:148px;background:#b2b2b2;background:rgba(0,0,0,.3);}
.w-silde-controller-btn a:hover{background:#7f7f7f;background:rgba(0,0,0,.6);}
.w-silde-controller-btn b{display:block;margin:8px 0 0 12px;cursor:pointer;width:15px;height:23px;}
.w-silde-controller-btn .ico{position:absolute;}
.w-silde-controller-btn .prev{left:0px}
.w-silde-controller-btn .prev i{top:8px;left:12px;}
.w-silde-controller-btn .next{right:0px}
.w-silde-controller-btn .next i{top:8px;right:12px;}
.ico-arrow-large{width:14px;height:23px;}
.ico-arrow-large-l{background-position:-100px -60px;}
.ico-arrow-large-r{background-position:-120px -60px;}
.w-slide-wrap{width:2500px;position:absolute; }
.ico-label{position:absolute;top:0;left:0;}
.ico-label-recommend{background-position:-200px -280px;}
.w-goods-ing{width:200px;height:353px;overflow:hidden;}
.w-goods-ing .w-goods-pic{margin-bottom:8px;}
.w-goods-ing .w-goods-title{width:100%;}
.w-goods-ing .w-goods-title a{color:#3c3c3c;font-size:12px;line-height:26px;}
.f-txtabb{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;*zoom:1;}
.w-goods-ing .w-goods-opr{margin-top:20px;text-align:center;}
.w-goods-ing .w-goods-opr-number{display:inline-block;*display:inline;*zoom:1;width:125px;height:30px;vertical-align:middle;}
.w-button{white-space:nowrap;font-size:15px;display:inline-block;vertical-align:middle;color:#fff;background:#3399FE;border:solid #1B7DE0;border-width:0 1px 2px 0;padding:0 15px;text-align:center;height:30px;line-height:30px;border-radius:3px;cursor:pointer;text-decoration:none!important;font-family:"Microsoft Yahei",simhei;font-weight:bold;outline:none;}
.w-button:hover{background:#42A8FF;text-decoration:none;color:#fff;}
.w-button-main{background:#db3652;border-color:#b6243d;}
.w-button-main:hover{background:#EA4163;}
.w-button-l{padding:0 20px;height:35px;line-height:35px;font-size:16px;border-radius:4px;}
.ico-label-newRecommend{width:84px;height:24px;background-position:-140px -210px;z-index:10;}
.w-hd{position:relative;height:40px;border-bottom:2px solid #888888;z-index:1;width:100%;}
.w-hd-title{line-height:40px;font-size:18px;color:#000;font-weight:bold;font-family:"Microsoft Yahei";width:100%;}
.w-hd-more{position:absolute;right:0;bottom:0px;line-height:30px;color:#808080;font-family:"simsun";}
.w-goodsList-item{float:left;margin-top:-1px;margin-right:-1px;overflow:hidden;border:1px solid #e8e8e8;position:relative;}
.w-goodsList .w-goods-ing,.w-goodsList .w-goods-brief,.w-goodsList .w-goods-briefFree,.w-goodsList .w-goods-blank{margin:20px 19px 20px 20px;}
.w-progressBar-wrap,.w-progressBar-bar{background-image:url(../images/progress.png);background-repeat:no-repeat;}
.w-progressBar-wrap{position:relative;margin-bottom:8px;height:8px;overflow:hidden;background-position:0 0;}
.w-progressBar-bar{position:absolute;height:100%;background-position:0 -8px;}
.list-block .w-goods-opr{margin-top:20px;text-align:center;}
.w-progressBar-txt li{float:left;width:50%;line-height:18px;}
.w-progressBar-txt-r{float:right;border:0;text-align:right;}
.w-progressBar-txt-r p{padding-left:10px;display:block;color:#999;}
.w-progressBar-txt-r p b{color:#333;font-weight:normal;}
.w-progressBar-txt-r p{padding-left:0;}
.w-record-newest-item{padding:16px 0;height:66px;overflow:hidden;border-bottom:1px solid #ddd;}
.w-record-newest-list .last{border:0;}
.w-record-newest-item .w-record-detail{margin-left:70px;}
.w-record-newest-item .w-record-user{}
.w-record-newest-item .w-record-title{padding-right:8px;height:45px;overflow:hidden;}
.w-record-title a{color:#3c3c3c;}
.m-index-record-newest .m-index-mod-bd{padding:0 5px 0 10px;height:693px;overflow:hidden;background-color:#f5f5f5;border:1px solid #ddd;border-top:0;}
.m-index-record-newest .m-index-mod-ft{height:36px;background-color:#f5f5f5;}
.m-index-record-newest .w-record-user{color:#3399ff;}
.w-record-detail{line-height:22px;*zoom:1;}
.w-record-nb-item,.w-record-rich-item{padding:15px 10px;height:66px;background-color:#f5f5f5;}
.w-record-avatar,.w-record-goods{float:left;margin-top:5px;}
.w-record-detail{line-height:22px;*zoom:1;}
.w-record-nb-item .w-record-detail,.w-record-rich-item .w-record-detail{margin-left:50px;}
.w-record-nb-item .w-record-intro{width:143px;height:38px;font-size:12px;padding-top:2px;overflow:hidden;}
.w-record-nb-item .w-record-user,.w-record-rich-item .w-record-user{float:left;display:inline-block;width:140px;}
.m-index-record-nb .m-index-mod-ft{background-color:#f5f5f5;border:#ddd 1px solid;}
.g-wrap{margin:0 auto;padding:0 10px;width:1200px;position:relative;}
.w-goodsList .w-goods-brief,.w-goodsList .w-goods-briefFree,.w-goodsList .w-goods-blank{margin:20px 19px 20px 20px;}
.w-goods-pic img{margin:0 auto;}
.w-goods-brief{width:200px;height:235px;overflow:hidden;}
.w-goods-brief .w-goods-pic{margin-bottom:8px;}
.w-goods-brief .w-goods-pic img{margin:0 auto;}
.w-goods-brief .w-goods-title{width:100%;}
.w-goods-brief .w-goods-title a{color:#3c3c3c;font-size:12px;line-height:22px;}
.ico-quote{width:24px;height:20px;}
.ico-quote{width:24px;height:20px;}
.ico-quote-former{background-position:-40px -190px;}
.ico-quote-after{background-position:-70px -190px;}
.ico-arrow-white{width:13px;height:8px;}
.ico-arrow-white-down{background-position:-60px -130px;}
.ico-arrow-white-up{background-position:-60px -140px;}
.w-revealList-item{margin:0 11px 10px 0;float:left;width:294px;height:400px;border:1px solid #ddd;background:#f5f5f5;position:relative;}
.w-revealList-item .w-goods-info{padding:20px 20px 10px;background:#fff;_zoom:1;}
.w-revealList-item .w-goods-pic{margin-bottom:10px;}
.w-revealList-item .w-goods-pic img{margin:0 auto}
.w-revealList-item .w-goods-title{width:100%;}
.w-revealList-item .w-goods-title a{color:#343434;line-height:24px;}
.w-revealList-item .w-goods-price{line-height:24px;}
.w-revealList-item .w-countdown,.w-revealList-item .w-record{padding:20px}
.w-revealList-item .w-record .user{height:auto;_height:36px;max-height:36px;overflow:hidden;}
.w-revealList-item .w-record p{line-height:18px;}
.w-revealList-item .w-record-detail{margin-left:50px;}
.w-revealList-item .w-record .user{height:auto;_height:36px;max-height:36px;overflow:hidden;}
.w-revealList-item .w-record p{line-height:18px;}
.w-revealList-item .w-record-detail{margin-left:50px;}
.f-breakword{white-space:normal;word-wrap:break-word;word-break:break-all}
.txt-green{color:#528d00;}
.txt-red{color:#db3652;}
.txt-blue{color:#3399ff;}
.w-button-simple{padding:0 8px;height:24px;line-height:24px;font-size:12px;font-weight:normal;font-family:"Verdana";color:#808080;border:1px solid #d8d8d8;border-radius:1px;background:#f6f6f6;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));background:-moz-linear-gradient(top,#ffffff,#eeeeee);background:-o-linear-gradient(top,#ffffff,#eeeeee);background:-ms-linear-gradient(top,#ffffff,#eeeeee);}
.w-button-simple:hover{background:#fff;color:#808080;}
.w-remainList-item{margin-bottom:10px;padding:20px 24px;position:relative;background:#ffffff;}
.w-button-xl{padding:0 35px;height:45px;line-height:45px;font-size:18px;border-radius:4px;}
.ico-miniCart{width:24px;height:21px;background-position:-30px -30px;}
.w-miniCart-btn .ico-arrow-white-solid-l{position:absolute;top:5px;left:-4px;}
.ico-arrow-white-solid{width:4px;height:7px;}
.ico-arrow-white-solid-l{background-position:-100px -90px;}
.m-toolbar{position:relative;z-index:3;}.m-header{position:relative;z-index:2;}
.m-toolbar{height:30px;line-height:28px;color:#8e8e8e;background:#f5f6f8;border-top:1px solid #e1e1e1;}
.m-toolbar-l{float:left;}
.m-toolbar-r{float:right;}

.head_nav .nav_list {
	 margin-left:240px;
}
.head_nav .nav_list li {
	float:left;
	position:relative;
	padding:5px 0px 5px 0px;
}
.head_nav .nav_list li a {
	text-align:center;
	line-height:28px;
	margin:0px 5px 0px 12px;
	width:88px;
	display:block;
	font-family:"Microsoft Yahei"; HEIGHT: 28px;
	font-size:16px;
	font-weight:bold;
}
.head_nav .nav_list li a:hover {
	background-color:#f5f5f5;text-decoration:none;
}

.head_nav ul.nav_list li.home-back a {
	width:84px;
	height:33px;
	overflow:hidden;
}
.head_nav ul.nav_list li.sort-all a {
	width:107px;
	height:33px;
	overflow:hidden;
}
.head_nav ul.nav_list li.share a {
	width:114px;
}
.head_nav ul.nav_list li.nav_Cloud a {
	width:99px;
}
.head_nav ul.nav_list li.new-lottery a {
	width:114px;
}
.head_nav ul.nav_list li.cooperation a {
	width:84px;
}
.head_nav ul.nav_list li.what-1yyg a {
	width:114px;
}
.head_mid_bg .mini_mycart {
	margin-top:28px;
	float:right;
}
.head_mid_bg .mini_mycart a.cart {
	height:35px;
	line-height:34px;
	float:left;
	text-align:left;
	font-size:14px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå;
	overflow:hidden;
	color:#fff;
	position:relative;
	padding-left:39px;
}
.head_mid_bg .mini_mycart a.cart s {
	width:22px;
	height:18px;
	background-position:0 -39px;
	display:black;
	float:left;
	position:absolute;
	left:11px;
	top:8px;
}
.w-miniCart-btn{position:relative;display:block;padding:9px 0 8px 40px;width:90px;height:17px;border-radius:3px;background-color:#db3652;font-size:12px;line-height:17px;overflow:hidden;color:#fff;text-decoration:none;}
.w-miniCart-btn:hover{text-decoration:none;}
.w-miniCart-btn .ico-miniCart{position:absolute;top:7px;left:10px;}
.icoo{
vertical-align:middle;
background:url('../images/mix-icon.png') no-repeat;_background-image:url('../images/mix-icon_ie6.png');overflow:hidden;}
.ico-miniCart{width:24px;height:21px;background-position:-30px -30px;}
.w-miniCart-count{margin-left:10px;display:inline-block;width:30px;text-align:center;line-height:17px;color:#db3652;background-color:#fff;border-radius:3px;position:relative;}
.w-miniCart-layer{width:320px;position:absolute;right:0;top:100%;background:#fff;border:1px solid #E36974;margin-top:2px;box-shadow:0 2px 4px rgba(0,0,0,.2);color:#3C3C3C;}
.w-miniCart-layer-title{padding:5px 10px 0;}
.w-miniCart-list{max-height:370px;overflow:auto;}

#sCartTotal {
	font-family:Arial,Helvetica,sans-serif;
}
.head_nav .nav_list li.sort-all {
	position:relative;
}
.nav_class {
	width:978px;
	height:33px;
	background:#fff;
	border:1px solid #DCDCDC;
	border-top:none;
	margin:0 auto 10px;
	position:relative;
	z-index:1;
	box-shadow:0 0 2px #D3D3D3;
}
.nav_class ul:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.nav_class ul {
	padding-left:10px;
	zoom:1;
}
.nav_class li {
	float:left;
	height:33px;
	font-size:14px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå;
	color:#888;
}
.nav_class li a {
	color:#888;
	padding:4px 17px 5px 17px;
	padding:5px 17px 4px 17px\9;
	_padding:7px 17px 5px 17px;
	display:inline-block;
}
.nav_class li a:hover {
	color:#da3553;
}
.mycart_list {
	width:250px;
	border:1px solid #da3553;
	position:absolute;
	z-index:10;

	top:96px;
	*top:96px;
	_top:96px;
	right:110px;
	background:#fff;
}
.m-results-leastRemain-title-ft{background-image:url('../images/mix-icon.png');_background-image:url('../images/mix-icon_ie6.png');background-repeat:no-repeat;}
.m-results-leastRemain-title-ft{position:relative;z-index:1;height:4px;overflow:hidden;background-position:0 -8px;background-repeat:repeat-x;}
.mycart_list dl {
	width:230px;
	padding:10px 10px 8px 10px;
	height:62px;
	border-bottom:1px solid #EFEFEF;
	position:relative;
}
.mycart_list dl.mycartcur {
	background:#F4F4F4;
}
.mycart_list dl dd,.mycart_list dl dt {
	float:left;
	padding:0;
	background:none;
}
.mycart_list dl dt {
	width:58px;
	height:58px;
	padding:0 10px 0 0;
}
.mycart_list dl dt a,.mycart_list dl dt a img,.mycart_list dl dt a:hover {
	width:58px;
	height:58px;
	display:block;
	border:0;
	color:#555;
	padding:0;
	background:none;
}
.mycart_list dl dt a img {
	border:1px solid #EFEFEF;
}
.mycart_list dl dd.title {
	width:145px;
	float:left;
}
.mycart_list dl dd.title em {
	color:#999;
	font-family:ËÎÌå;
}
.mycart_list dl dd.title a {
	width:145px;
	height:40px;
	line-height:20px;
	display:block;
	overflow:hidden;
	color:#555;
	padding:0;
	background:none;
}
.head_nav .nav_center .mycart_list dl dd.title a:hover {
	color:#da3553;
	text-decoration:underline;
}
.mycart_list dl dd.title span {
	color:#da3553;
	line-height:20px;
}
.mycart_list dl dd.del {
	margin-top:0;
	position:absolute;
	right:10px;
	bottom:10px;
}
.mycart_list dl dd.del a {
	color:#ccc;
	font-weight:normal;
	font-size:12px;
	padding:0;
	background:none;
}
.mycart_list dl dd.del a:hover {
	color:#da3553;
	text-decoration:underline;
}
.mycart_list p {
	padding:5px 8px 10px 0;
	text-align:right;
	color:#999;
}
.mycart_list p span {
	color:#da3553;
}
.mycart_list h3 {
	height:30px;
	padding-right:8px;
	padding-bottom:13px;
}
.mycart_list h3 input {
	width:120px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:Î¢ÈíÑÅºÚ;
	font-size:14px;
	background:#da3553;
	border-radius:3px;
	float:right;
	padding:3px 0 5px;
	_padding:3px 0 2px;
}
.footer_line,.ft-fwrx-tel,.ft-fwrx-service a,.service-promise li a,.Service_Time p,.Service_Fund P,.ft-weixin dt span,.ft-weixin-img s {
	background:url(../images/footerimg.png);
}
.footer_content {
	background:#fff;
	overflow:hidden;
	zoom:1;
	clear:both;
	margin-top:10px;
}
.footer_line {
	height:8px;
	font-size:0;
	line-height:0;
	background-position:0 0;
}
.footservice {
	width:980px;
	height:185px;
	margin:10px auto 0 auto;
	overflow:hidden;
	clear:both;
	font-size:12px;
}
.footer_content .service-promise {
	width:948px;
	padding-left:30px;
	border:1px solid #E8E8E8;
	margin:0 auto;
	height:46px;
	background:#fff;
}
.footer_content .service-promise ul {
	float:left;
}
.footer_content .service-promise li {
	float:left;
	display:block;
	height:43px;
}
.footer_content .service-promise .service-promise-border-r0 a {
	margin-right:0;
}
.sp-fair a,.sp-wares a,.sp-free-delivery a,.sp-business a {
	height:21px;
	display:inline-block;
	margin:13px 90px 0 0;
}
.footer_content .service-promise .sp-fair a {
	background-position:0 -65px;
	width:145px;
}
.footer_content .service-promise .sp-wares a {
	background-position:0 -89px;
	width:144px;
}
.footer_content .service-promise .sp-free-delivery a {
	background-position:0 -113px;
	width:134px;
}
.footer_content .service-promise .sp-business a {
	background-position:0 -137px;
	width:230px;
}
.footer_content .service-promise .sp-fair a span,.footer_content .service-promise .sp-wares a span,.footer_content .service-promise .sp-free-delivery a span,.footer_content .service-promise .sp-business a span {
	display:none;
}
.footservice .support {
	width:980px;
	margin:15px 0;
	overflow:hidden;
	zoom:1;
}
.footservice .support dl {
	float:left;
	width:183px;
	border-right:1px solid #F3F3F3;
}
.footservice .support dt {
	height:20px;
	margin-bottom:6px;
	overflow:hidden;
	margin-top:4px;
}
.footservice .support dt span {
	font-size:14px;
	font-weight:bold;
	color:#666;
}
.footservice .support .ft-newbie,.footservice .support .ft-ygjj,.footservice .support .ft-delivery,.footservice .support .ft-wares {
	width:125px;
	height:154px;
	margin-right:30px;
}
.footservice .support .ft-fwrx {
	width:180px;
	margin-right:30px;
	height:154px;
}
.footservice .support .ft-fwrx .ft-fwrx-tel {
	background-position:0 -41px;
	height:16px;
	_height:15px;
	overflow:hidden;
}
.footservice .support .ft-fwrx .ft-fwrx-tel i {
	display:block; color:#9F9F9F;
}
.footservice .support .ft-fwrx .ft-fwrx-service a {
	background-position:0 -10px;
	width:109px;
	height:24px;
	_height:23px;
	display:block;
	text-indent:-999em;
}
.footservice .support .ft-fwrx .ft-fwrx-time {
	color:#9F9F9F;
	line-height:20px;
	height:22px;
	_height:21px;
}
.footservice .support dd {
	height:22px;
	padding:2px 0 0 0;
	_padding:3px 0 0 0;
	overflow:hidden;
}
.footservice .support dd.ft-fwrx-service {
	height:60px;
	color:#9F9F9F;
}
.footservice .support dd.ft-fwrx-service .ft-qqicon {
	height:20px;
	display:block;
	background:url(../images/topqun.gif) 0 4px no-repeat;
	padding-left:15px;
}
.footservice .support dd.ft-fwrx-service .ft-qqgroup {
	display:block;
	font-size:12px;
	font-family:Arial;
}
.footservice .support dd b {
	width:3px;
	height:3px;
	font-size:0;
	line-height:0;
	background:#CACACA;
	vertical-align:3px;
	display:inline-block;
	margin-right:5px;
}
.footservice a,.footer a:link,.footer a:visited {
	color:#9F9F9F;
}
.footservice a:hover,.footer a:hover {
	color:#da3553;
	text-decoration:underline;
}
.service_date {
	width:253px;
	margin:18px auto 6px;
	text-align:center;
	height:48px;
	color:#fff;
}
.service_date .Service_Time {
	width:99px;
	padding:5px 0 0 15px;
	height:43px;
	text-align:left;
	background:#da3553;
	border-radius:2px;
	display:block;
	float:left;
	margin:0 3px;
}
.service_date .Service_Time p {
	height:16px;
	line-height:15px;
	background-position:-215px -15px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Time span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund a {
	width:105px;
	padding:5px 10px 0 15px;
	_display:inline;
	height:43px;
	text-align:left;
	background:#3B0;
	border-radius:2px;
	display:block;
	float:left;
	color:#fff;
}
.service_date .Service_Fund p {
	height:16px;
	line-height:15px;
	background-position:-215px -40px;
	background-repeat:no-repeat;
	padding-left:20px;
}
.service_date .Service_Fund span {
	font-size:20px;
	line-height:24px;
}
.service_date .Service_Fund i {
	font-size:12px;
	padding-left:5px;
	line-height:20px;
}
.footservice .support .ft-weixin {
	width:140px;
	overflow:hidden;
	border-right:none;
}
.g-footer{padding-top:0px;background-color:#fff;z-index:1;_zoom:1;}
.m-instruction{padding:30px 0;background-color:#f5f5f5;}
.m-instruction .g-main{width:54%;border-right:1px solid #e2e2e2;}
.m-instruction .g-side{width:43%;}
.m-instruction .g-side-l{float:left;width:32%;border-right:1px solid #e2e2e2;}
.m-instruction .g-side-r{float:right;width:63%;}
.m-instruction .ico{margin-right:6px;}
.m-instruction-list-item{float:left;width:25%;}
.m-instruction-list-item h5{margin-bottom:6px;padding:4px 0;height:22px;font-size:16px;line-height:22px;font-weight:bold;font-family:"Microsoft Yahei";}
.m-instruction-list-item .list{padding-left:18px;}
.m-instruction-list-item li{list-style:disc inside;line-height:22px;}
.m-instruction-list-item a{color:#808080;}
.ico-instruction{width:22px;height:22px;}
.ico-instruction-1{background-position:-160px -30px}
.ico-instruction-2{background-position:-190px -30px}
.ico-instruction-3{background-position:-220px -30px}
.ico-instruction-4{background-position:-250px -30px}
.m-instruction-state{margin:0 auto;width:170px;font-family:"Microsoft Yahei";}
.m-instruction-state li{padding:3px 0;height:34px;line-height:34px;font-size:14px;}
.ico-state-l{width:34px;height:34px;}
.ico-state-l-1{background-position:-160px -90px}
.ico-state-l-2{background-position:-200px -90px}
.ico-state-l-3{background-position:-240px -90px}
.m-instruction-yxCode{float:left;padding:5px 5px 2px;width:105px;text-align:center;background-color:#fff;}
.m-instruction-yxCode img{margin:0 auto;}
.m-instruction-service{font-size:14px;float:right;padding:10px;width:54%;height:88px;border:6px solid #D7D7D7;background-color:#fff;}
.m-instruction-service-call{padding:4px 0;height:18px;line-height:18px;font-size:16px;font-weight:bold;font-family:"MicroSoft Yahei";background-position:-235px -26px;}
.m-instruction-service .ft-qqicon {
	height:20px;
	display:block;
	background:url(../images/topqun.gif) 0 4px no-repeat;
	padding-left:15px;
	font-size:12px;
}
.m-copyright{height:60px;line-height:60px;background-color:#f5f5f5;text-align:center;color:#8f8e8e;}
.m-copyright a{color:#8f8e8e;margin-right:15px;}
.m-QC{background-color:#f5f5f5; height:33px; margin-bottom:20px;}
.m-QC-list{margin:0 auto;width:800px;overflow:hidden;background:url('http://img.yyjg.com/images/qc_logo_v1.png') no-repeat;}
.m-QC-list li{float:left;display:inline;margin-right:84px;}
.m-QC-list li.last{margin-right:0;}
.m-QC-list a{display:block;height:33px;}


.footservice .support .ft-weixin dt span {
	background-position:-104px -168px;
	padding-left:25px;
	margin-left:5px;
}
.footservice .support .ft-weixin dd.ft-weixin-img {
	width:125px;
	height:93px;
	text-align:center;
	margin-bottom:2px;
}
.footservice .support .ft-weixin dd.ft-weixin-img s {
	width:93px;
	height:93px;
	margin:0 auto;
	display:inline-block;
	background-position:0 -168px;
}
.footer {
	width:100%;
	text-align:center;
	clear:both;
	padding:20px 0 10px 0;
	font:12px/1.5 Tahoma,Arial,"ËÎÌå",Helvetica,sans-serif;
	color:#333;
	background:#fff;
}
.footer .footer_links {
	text-align:center;
}
.footer .footer_links a {
	width:70px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.footer .footer_links b {
	height:11px;
	width:1px;
	background:#E4E4E4;
	overflow:hidden;
	display:inline-block;
	position:absolute;
	margin-top:4px;
	*+margin-top:2px;
	margin-top:4px\9;
	margin-left:-3px;
}
.footer a {
	text-align:center;
	line-height:16px;
	line-height:18px\9;
}
.footer .footer_links .footer_links_nonebj a {
	text-align:center;
	border-left:none;
	width:50px;
}
.copyright {
	text-align:center;
	color:#9F9F9F;
	margin:0 auto 15px auto;
	padding:5px 0 0 0;
	clear:both;
	font-family:Arial,"ËÎÌå";
}
.footer_icon {
	margin:0 auto 0 auto;
	height:30px;
}
.footer_icon li {
	width:90px;
	height:30px;
	margin:0 0 0 10px;
	float:left;
}
.footer_icon li a {
	width:90px;
	height:30px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.m-QC-list li.fi_315online span {
	display:none;
}
.m-QC-list .fi_pingan,.m-QC-list .fi_anxibao,.m-QC-list .fi_alipay,.m-QC-list .fi_cnnic,.m-QC-list .fi_315online,.m-QC-list .fi_ectrustchina {
	background:url(../images/footer.png) transparent scroll 0 0 no-repeat;
}
.m-QC-list .fi_ectrustchina {
	background-position:0 -220px;
}
.m-QC-list .fi_315online {
	background-position:0 -250px;
}
.m-QC-list .fi_cnnic {
	background-position:0 -280px;
}
.m-QC-list .fi_pingan {
	background-position:0 -310px;
}
.m-QC-list .fi_alipay {
	background-position:0 -340px;
}
.m-QC-list .fi_anxibao {
	width: 87px;
	background-position: 0 -419px;
	overflow: hidden;
}
.page_nav:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	overflow:hidden;
}
.page_nav {
	overflow:hidden;
	height:60px;
	clear:both;
}
.page_nav ul.pageUL {
	float:right;
	padding:20px 5px 0 0;
}
.page_nav ul.pageUL li {
	float:left!important;
	margin:0 5px;
	text-align:center;
}
.page_nav ul.pageUL li.total_page {
	color:#333;
	line-height:38px;
	padding-right:20px;
}
.page_nav ul.pageUL li.total_page i {
	color:#F00;
	font-style:normal;
}
.page_nav ul.pageUL li.curr_page {
	background-color:#FFEDE1;
	border:1px solid #FD6D01;
	color:#F50;
	display:block;
	font-weight:bold;
	height:25px;
	line-height:25px;
	width:25px;
}
.page_nav ul.pageUL li a {
	border:1px solid #DEDEDE;
	display:block;
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}
.page_nav ul.pageUL li a:hover {
	background-color:#FFF;
	border:1px solid #FD6D01;
	color:#FD6D01;
	display:block;
	height:25px;
	line-height:25px;
	text-decoration:none;
}
.page_nav ul.pageUL li.prev_page a {
	background:url("../images/arrow_button.png") no-repeat scroll -170px -13px transparent;
	padding:0 0 0 10px;
	white-space:nowrap;
	width:46px;
}
.page_nav ul.pageUL li.next_page a {
	background:url("../images/arrow_button.png") no-repeat scroll right 5px transparent;
	padding:0 10px 0 0;
	white-space:nowrap;
	width:46px;
}
.page_nav ul.pageUL li.prev_page a:hover,.page_nav ul.pageUL li.next_page a:hover {
	background-color:#FFF;
}
.page_nav {
	overflow:hidden;
	height:60px;
	clear:both;
}
.page_nav ul.pageULEx {
	float:right;
	padding:20px 0 0 0;
	margin-right:0;
	display:inline;
}
.page_nav ul.pageULEx li {
	line-height:32px;
}
.page_nav ul.pageULEx li.curr_page {
	padding:4px 0 5px 0;
	padding:4px 0 5px 0\9;
	_padding:4px 0 5px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.page_nav ul.pageULEx li a {
	padding:3px 0 4px 0;
	padding:3px 0 4px 0\9;
	_padding:3px 0 4px 0;
	font-size:14px;
	font-family:Arial;
	line-height:22px;
}
.page_nav ul.pageULEx li.prev_page a,.page_nav ul.pageULEx li.next_page a {
	padding:4px 0 3px 0;
	padding:5px 0 2px 0\9;
	_padding:5px 0 2px 0;
	line-height:22px;
}
.page_nav ul.pageULEx li {
	float:left;
	list-style:none;
	margin:0 0 0 5px;
	text-align:center;
}
.page_nav ul.pageULEx li {
	float:left;
	text-align:center;
	color:#666;
	font-family:Arial;
}
.page_nav ul.pageULEx li.curr_page {
	display:block;
	font-weight:bold;
	text-align:center;
	width:30px;
	overflow:hidden;
	color:#666;
}
.page_nav ul.pageULEx li a {
	border:1px solid #DEDEDE;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	color:#49B8FF;
}
.page_nav ul.pageULEx li a,.page_nav li a:hover {
	display:block;
	overflow:hidden;
}
.page_nav ul.pageULEx li a:hover {
	background-color:#49B8FF;
	border:1px solid #49B8FF;
	color:#FFF;
	text-decoration:none;
}
.page_nav ul.pageULEx li.prev_page a {
	border:1px solid #DEDEDE;
	display:block;
	text-align:center;
	overflow:hidden;
	width:55px;
	border-radius:5px;
	color:#49B8FF;
}
.page_nav ul.pageULEx li.next_page a {
	white-space:nowrap;
	width:55px;
	overflow:hidden;
}
.page_nav ul.pageULEx li.prev_page a:hover,.page_nav li.next_page a:hover {
	background-color:#49B8FF;
	color:#fff;
	border:1px solid #49B8FF;
	overflow:hidden;
}
.pagesx{font-size:14px;color:#333; margin:25px 0 0 0; float:right;}

.g-body{background-color:#fff;position:relative;z-index:2;_zoom:1;}
.g-main{float:left;}.g-side{float:right;width: 230px;}
.g-wrap{margin:0 auto;padding:0 10px;width:1200px;position:relative;}
.ico-type{width:60px;height:60px;}
.ico-type-1{background-position:0 -540px;}
.ico-type-2{background-position:-60px -540px;}
.ico-type-3{background-position:-120px -540px;}
.ico-type-5{background-position:-60px -600px;}
.ico-type-6{background-position:-120px -600px;}
.ico-type-7{background-position:-180px -540px;}
.ico-type-8{background-position:0 -600px;}
.ico-type-9{background-position:-180px -600px;}
.ico-type-4{background-position:-120px -480px;}
#Page_Ul{ font-size:14px;}
#Page_Ul li{ float:left; margin-right:10px;}
#Page_Ul li a{color:#333;
	border:1px solid #DEDEDE;
	text-align:center;
	padding:5px 10px;
	border-radius:5px;
	color:#49B8FF;
	display:block;
}
#Page_Ul li a:hover {
	background-color:#49B8FF;
	border:1px solid #49B8FF;
	color:#FFF;
	text-decoration:none;
}
#Page_Ul #Page_Total{line-height:26px; display:none;}
#Page_Ul .Page_This{color:#333; line-height:26px;}
.w-msgbox{width:500px;border:1px solid #666;font-size:14px;line-height:1.8;position:fixed;z-index:999;-position:absolute;left:0;top:0;background:#fff;color:#333;box-shadow:0 0 5px rgba(0,0,0,.4);border-radius:3px;overflow:hidden;}
.nisdisplay{display:none;}
.yisdisplay{display:none;}
.w-msgbox-intro{width:579px;}
.w-msgbox-close{position:absolute;right:4px;top:2px;font-size:20px;width:20px;height:20px;line-height:20px;color:#999;text-align:center;text-decoration:none;}
.w-mask{position:fixed;z-index:998;-position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:.6;filter:alpha(opacity=60);display:none;}
.w-msgbox-close:hover{color:#333;text-decoration:none}
.w-msgbox-hd{height:26px;line-height:26px;background:#F6F6F6;color:#3C3C3C;border-bottom:1px solid #D8D8D8;padding:0 10px;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));background:-moz-linear-gradient(top,#ffffff,#eeeeee);background:-o-linear-gradient(top,#ffffff,#eeeeee);background:-ms-linear-gradient(top,#ffffff,#eeeeee);}
.w-msgbox-bd{padding:20px 30px}
.w-msgbox-intro .w-msgbox-close{top:14px;right:14px;padding-top:17px;width:17px;height:0;overflow:hidden;z-index:1;}
.w-msgbox-intro .w-msgbox-hd{display:none;}
.w-msgbox-intro .w-msgbox-bd{padding:0;width:579px;height:751px;background:url('http://img.yyjg.com/images/intro.png') no-repeat;position:relative;}
.w-msgbox-intro .w-msgbox-bd h3{display:none;}
.w-msgbox-intro .w-msgbox-bd .ruleLink{position:absolute;top:477px;left:385px;display:block;padding-top:15px;width:56px;height:0;overflow:hidden;}.w-msgbox-special{width:auto;background:none;border:0;box-shadow:none;}
.w-msgbox-special .w-msgbox-hd{display:block;}
.w-msgbox-special .w-msgbox-close{width:31px;height:31px;background-position:0 0;text-indent:-99em;z-index:999;zoom:1;}.w-msgbox-special .w-msgbox-bd{padding:0;}
.renwu{margin-right:10px;float:left;padding-top:6px;}
.renwu a{color: red;font-size: 12px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;margin-top: 3px;width:50px;line-height:23px;height:23px;}
.zqjf-box {
    width:637px;
    height:503px;
    border:1px #d6d6d6 solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    background-color:#fff;
}
.zqjf-box h2 {
    background-color:#f7f7f7; border-bottom:1px #eaeaea solid; height:38px; line-height:38px; font-size:16px; color:#707070; padding:0 15px; font-family:"Microsoft yaHei"; font-weight:normal;
}
.zqjf-box h2 a {
    float:right; margin-top:12px;
}
.zqjf-box .zqjf-con {
    padding:15px 20px 20px 20px;
}
.zqjf-box .zqjf-con ul li {
    margin-bottom:8px; padding-left:32px;
}
 
.zqjf-box .zqjf-con ul li h3 {
    font-family:"Microsoft yaHei"; font-size:16px; color:#333; font-weight:normal; line-height:35px;
}
.zqjf-box .zqjf-con ul li h3 a {
    display:inline-block; margin-left:10px; line-height:22px; background-color:#3399fe; padding:0 10px; color:white; font-size:12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
	border-bottom:#1b7de0 2px solid;border-left:#1b7de0 0px solid;
}
.zqjf-box .zqjf-con center a {
    display:inline-block; line-height:35px; padding:0 45px; background-color:#db3652; color:white; font-family:"Microsoft yaHei"; margin-top:15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border-top:#b6243d 0px solid;border-right:#b6243d 1px solid;border-left:#b6243d 0px solid;border-bottom:#b6243d 2px solid;
}
.zqjf-con .num_span{
	background-color: #db3652;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	line-height: 22px;
	text-align: center;
	width: 22px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 5px;
}
.zqjf-con h3 b{
	color: #db3652
}
.zqjf-con .p_con{
	margin-left: 28px;
}
.zqjf-con .p_con a{
	color: #26a7f9;
}
.com_tan{
    position:fixed;
    top:50%;
    left:50%;
    _position:absolute;
    _top: 50%;
    _left: 50%;
}
.m-nav-promot{position:absolute;height;45px;bottom:-5px;overflow:hidden;right:10px;}
