<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>{wc:fun:_cfg('web_name_two')}圈子 - {wc:fun:_cfg('web_name_two')}网</title>
<meta name="keywords" content="{wc:if isset($keywords)}{wc:$keywords}{wc:else}{wc:fun:_cfg("web_key")}{wc:if:end}" />
<meta name="description" content="{wc:if isset($description)}{wc:$description}{wc:else}{wc:fun:_cfg("web_des")}{wc:if:end}" />
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/indexcss/group.min.css"/>
<script type="text/javascript" src="{G_GLOBAL_STYLE}/global/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_CSS}/App/js/jquery.cookie.js"></script>
</head>
<body>
<div id="mw-page-base" class="noprint"></div>
<div id="mw-head-base" class="noprint"></div>
	<div id="content" class="mw-body">
		<div id="bodyContent">
			<div id="mw-content-text" class="mw-content-ltr">
				<div class="xiaomi_index">
					<div class="xm_row">
						<div class="xm_col_l">
							<div class="xm_box xm_box_headline">
								<h2><span class="mw-headline">在这里可以做什么?</span></h2>
								<div class="floatleft"><img src="{G_TEMPLATES_STYLE}/images/group.png" width="200" height="118" class="image" /></div>
								<p>在这里你可以找到与自己兴致相投的{wc:fun:_cfg('web_name_two')}网友，随意申请加入任何你感兴趣的圈子，了解{wc:fun:_cfg('web_name_two')}所发生的“重大事件”，参与到他们的行列之中，一起探论{wc:fun:_cfg('web_name_two')}的神奇，看看他们是如何{wc:fun:_cfg('web_name_two')}成功的，一起分享交流探讨！来！一起加入他们的行列中吧！</p>
							</div>
							<div class="xm_box xm_box_category">
								<h2><span class="mw-headline">圈子分类</span></h2>
								<ul>
								
									<li style="float:felt;">
									{wc:loop $quanzi $v}
										<a href="{WEB_PATH}/group/show/{wc:$v['id']}" title="{wc:$v['title']}">{wc:$v['title']}</a>
									{wc:loop:end}
									</li>
									
								
								</ul>
							</div>
							<div class="xm_box xm_box_article">
								<h2><span class="mw-headline">热门话题</span></h2>
								<ul>
									{wc:getlist sql="select * from `@#_quanzi_tiezi` group by hueiyuan order by id DESC limit 5" return="tiezi"}
									{wc:loop $tiezi $tz}
									<li>
										<a href="{WEB_PATH}/group/nei/{wc:$tz['id']}" title="{wc:$tz['title']}"><span class="mw-newpages-time">{wc:$tz['title']}</span></a>
									‎	<span class="mw-newpages-history">（来自:{wc:fun:_strcut(quanzid($tz['qzid']),10)}）</span> ‎<span class="mw-newpages-length">[{wc:fun:huifu($tz['id'])}条回复]</span>‎
									</li>
									{wc:loop:end}
									{wc:getlist:end}
								</ul>
							</div>
						</div>
						<div class="xm_col_r">
							<div class="xm_box xm_box_about">
								<h2><span class="mw-headline">关于{wc:fun:_cfg('web_name_two')}圈子</span></h2>
								<p>{wc:fun:_cfg('web_name_two')}圈子是{wc:fun:_cfg('web_name_two')}官方推出的一个公共的讨论平台，旨在为广大{wc:fun:_cfg('web_name_two')}网友提供一个全面的信息沟通平台，同时还可以时时关注{wc:fun:_cfg('web_name_two')}官方的最新动态。</p>
								<hr />
								<ul>
									<li>您的话题<strong> {wc:fun:huati('tiezi')} </strong>个</li>
									<li>您的回复<strong> {wc:fun:huati('hueifu')} </strong>个</li>
								</ul>
								<p><a href="{WEB_PATH}/group/show/1" title="查看官方最新公告">查看官方最新公告</a></p>
							</div>
							<div class="xm_box xm_box_help">
								<h2><span class="mw-headline">新手帮助</span></h2>
								<p>
									<a href="{WEB_PATH}/help/3" title="服务协议">服务协议</a>
									<a href="{WEB_PATH}/help/4" title="保障体系">保障体系</a>
									<a href="{WEB_PATH}/help/5" title="正品保障">正品保障</a>
									<a href="{WEB_PATH}/help/6" title="安全支付">安全支付</a>
									<a href="{WEB_PATH}/help/7" title="商品配送">商品配送</a>
									<a href="{WEB_PATH}/help/8" title="配送费用">配送费用</a>
									<a href="{WEB_PATH}/help/9" title="验货签收">验货签收</a>
									<a href="{WEB_PATH}/help/1" title="了解网站">了解网站</a>
									<a href="{WEB_PATH}/help/14" title="购物公益">购物公益</a>
								</p>
							</div>
						</div>
					</div>
					<!--div class="xm_row">
						<div class="xm_box xm_box_service">
							<h2><span class="mw-headline">拍客社区 (暂未开放)</span></h2>
							<ul>
								<li><i class="icon icon-a"></i><a href="javascript:;" title="预约亲临门店服务">预约亲临门店服务</a></li>
								<li><i class="icon icon-b"></i><a href="javascript:;" title="退换货流程">退换货查询</a></li>
								<li><i class="icon icon-c"></i><a href="javascript:;" title="维修进度查询">维修进度查询</a></li>
								<li><i class="icon icon-d"></i><a href="javascript:;" title="修改订单">修改订单</a></li>
								<li><i class="icon icon-e"></i><a href="javascript:;" title="取消订单">取消订单</a></li>
								<li><i class="icon icon-f"></i><a href="javascript:;" title="物流查询">物流查询</a></li>
								<li><i class="icon icon-g"></i><a href="javascript:;" title="手机防伪查询">手机防伪查询</a></li>
								<li><i class="icon icon-h"></i><a href="javascript:;" title="拍客之家">拍客之家</a></li>
								<li><i class="icon icon-i"></i><a href="javascript:;" title="领取快递补偿">领取快递补偿</a></li>
								<li><i class="icon icon-j"></i><a href="javascript:;" title="找回注册密码">找回注册密码</a></li>
								<li><i class="icon icon-k"></i><a href="javascript:;" title="建议留言">建议留言</a></li>
								<li><i class="icon icon-l"></i><a href="javascript:;" title="拍客VIP认证">拍客VIP认证</a></li>
								<li><i class="icon icon-m"></i><a href="javascript:;" title="拍客云服务">拍客云服务</a></li>
								<li><i class="icon icon-n"></i><a href="javascript:;" title="新手入门">新手入门</a></li>
								<li><i class="icon icon-o"></i><a href="javascript:;" title="维修网点">维修网点</a></li>
								<li><i class="icon icon-p"></i><a href="javascript:;" title="举报假冒">举报假冒</a></li>
							</ul>
						</div>
					</div-->
				</div>
			</div>
		</div>
	</div>
	<div id="mw-navigation">
		<h2>导航菜单</h2>
		<div id="mw-head">
			<div id="p-personal">
				<ul>
					{wc:if get_user_arr()}
					<li id="pt-userpage"><a href="{WEB_PATH}/member/home" class="new">{wc:fun:get_user_name(get_user_arr(),'username')}</a></li>
					<li>您已成功加入了<span id="spJoinGroupNum" class="orange">{wc:fun:qznum()}</span>个圈子</li>
					<li><a href="{WEB_PATH}/member/user/cook_end">退出</a></li>
					{wc:else}
					<li><a href="{WEB_PATH}/login">登录</a></li>
                    <li><a href="{WEB_PATH}/register">注册</a></li>
					{wc:if:end}
				</ul>
			</div>
			<div id="left-navigation">
				<div id="p-namespaces" class="vectorTabs">
					<h3 id="p-namespaces-label">名字空间</h3>
					<ul>
						<li id="ca-nstab-main" class="selected"><span><a href="{WEB_PATH}/group/" title="圈子" accesskey="c">{wc:fun:_cfg('web_name_two')}圈子</a></span></li>
						<li id="ca-talk"><span><a href="{WEB_PATH}" title="返回首页" accesskey="t">返回{wc:fun:_cfg('web_name_two')}首页</a></span></li>
					</ul>
				</div>
			</div>
			<div id="right-navigation">
				<div id="p-views" class="vectorTabs">
					<ul>
						<li id="ca-view" class="selected"><span><a href="{WEB_PATH}/group/">圈子首页</a></span></li>
						<li id="ca-viewsource"><span><a href="{WEB_PATH}/member/home" title="我的个人中心" target="_blank">我的个人中心</a></span></li>
						<li id="ca-history" class="collapsible"><span><a href="{WEB_PATH}/goods_list" title="注册" target="_blank">所有商品</a></span></li>
					</ul>
				</div>
				</div>
			</div>
			<div id="mw-panel" class="collapsible-nav">
				<div id="p-logo"><a style="background-image: url(/data/uploads/logo2.png);" href="{WEB_PATH}" title="访问首页"></a></div>
				<div class="portal first persistent" id="p-navigation">
					<div class="body">
						<ul>
							<li><a href="{WEB_PATH}" title="访问首页">首页</a></li>
							<li><a href="{WEB_PATH}/goods_lottery" title="最新揭晓">最新揭晓</a></li>
							<li><a href="{WEB_PATH}/go/autolottery" title="限时揭晓">限时揭晓</a></li>
						</ul>
					</div>
				</div>
				<div class="portal expanded">
					<h3><a href="javascript:;">关于{wc:fun:_cfg("web_name_two")}</a></h3>
					<div class="body" style="display: block;">
						<ul>
							<li><a href="{WEB_PATH}/help/1">了解{wc:fun:_cfg("web_name_two")}</a></li>
							<li><a href="{WEB_PATH}/help/2">详见疑问</a></li>
							<li><a href="{WEB_PATH}/help/3">服务协议</a></li>
							<li><a href="{WEB_PATH}/help/4">购保障体系</a></li>
							<li><a href="{WEB_PATH}/help/13">联系我们</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<ul id="footer-info">
				<li id="footer-info-lastmod"><p>{wc:fun:_cfg('web_copyright')}</p></li>
				<li id="footer-info-viewcount">公益基金：￥<span id="spanFundTotal">0000000.00 </span>元</li>
			</ul>
			
			<div style="clear:both"></div>
		</div>
		<script type="text/javascript">
		$("#divRighTool").show();
		$(function(){

			$("#btnGotoTop").click(function(){
				$("html,body").animate({scrollTop:0},0);
			});
			$("#btnFavorite,#addSiteFavorite").click(function(){
				var ctrl=(navigator.userAgent.toLowerCase()).indexOf('mac')!=-1?'Command/Cmd': 'CTRL';
				if(document.all){
					window.external.addFavorite('{G_WEB_PATH}','{wc:fun:_cfg("web_name")}');
				}
				else if(window.sidebar){
				   window.sidebar.addPanel('{wc:fun:_cfg("web_name")}','{G_WEB_PATH}', "");
				}else{
					alert('您可以通过快捷键' + ctrl + ' + D 加入到收藏夹');
				}
			});
			$("#divRighTool a").hover(
				function(){
					$(this).addClass("f-Cur-shop");
				},
				function(){
					$(this).removeClass("f-Cur-shop");
				}
			)
		});
			$.ajax({
				url:"{WEB_PATH}/api/fund/get",
				success:function(msg){
					$("#spanFundTotal").text(msg);
				}
			});
		</script>
	</body>
</html>