<!DOCTYPE html>

<html>

<head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>登入成功</title>
	<meta http-equiv="refresh" content="0.1;url={WEB_PATH}/member/home">
    <meta content="app-id=518966501" name="apple-itunes-app" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />

    <meta content="yes" name="apple-mobile-web-app-capable" />

    <meta content="black" name="apple-mobile-web-app-status-bar-style" />

    <meta content="telephone=no" name="format-detection" />

</head>

<body style="background:#F1F1F1;"  >

</body>

</html>

